name: SBOM on UI Release

on:
  release:
    types: [created]

jobs:
  sbom_checks:
    name: SBOM on RELEASE
    runs-on: [SI, standard]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Python environment
        run: |
          python -m venv venv-action
          source venv/bin/activate
          python -m pip install --upgrade pip
      - name: Install repository dependencies
        run: |
          source venv-action/bin/activate
          pip install -r ./requirements.txt -r ./tests/requirements.txt
      - name: Get syft
        run: |
          curl -sSfL https://raw.githubusercontent.com/anchore/syft/main/install.sh | sh -s -- -b .
      - name: Create template
        run: |
          cat <<'EOF' >> template_syft.tmpl
          PACKAGE | VERSION | LICENSE | COMMENTS
          | ------ | ------- | ------- | -------
          {{- range .artifacts}}
          {{.name}} | {{.version}} | {{ range $index,$element := .licenses}}{{if $index}}{{" AND "}}{{ end}}{{$element.value}}{{ end}}
          {{- end}}
          EOF
      - name: Run syft
        run: |
          echo "### Licencias :scroll:" >> $GITHUB_STEP_SUMMARY
          ./syft . -o syft-json=sbom.syft.json -o cyclonedx-json=sbom.cyclonedx.json -o spdx-json=sbom.spdx.json -o template=sbom.licenses.txt -t template_syft.tmpl
          cat sbom.licenses.txt >> $GITHUB_STEP_SUMMARY
          cat $GITHUB_STEP_SUMMARY >> summary.txt
      - name: Check bad licenses
        run: |
          bad=$(cat sbom.licenses.txt | grep ISC | wc -l)
          if [ $bad -gt 0 ]; then
            echo "::warning ::Some licenses require review"
            echo "1" > sbom_fail.txt
          fi
      - name: Get grype
        run: |
          curl -sSfL https://raw.githubusercontent.com/anchore/grype/main/install.sh | sh -s -- -b .
      - name: Run grype
        run: |
          echo "### Vulnerabilities :space_invader:" >> $GITHUB_STEP_SUMMARY
          ./grype sbom:sbom.syft.json > sbom.vulnerabilities.txt
          echo '```' >> $GITHUB_STEP_SUMMARY
          cat sbom.vulnerabilities.txt >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY
          cat $GITHUB_STEP_SUMMARY >> summary.txt
      - name: Check vulnerabilities
        run: |
          bad=$(cat sbom.vulnerabilities.txt | grep -iE 'medium|high' | wc -l)
          if [ $bad -gt 0 ]; then
            echo "::warning ::Some vulnerabilities require review"
            echo "1" > sbom_fail.txt
          fi
      - name: Upload SBOM files
        run: |
          gh release upload ${{github.event.release.tag_name}} sbom.syft.json sbom.cyclonedx.json sbom.spdx.json sbom.licenses.txt sbom.vulnerabilities.txt
        env:
          GITHUB_TOKEN: ${{ github.TOKEN }}
